{% extends 'base.html' %}
{% block content %}
<div class="authors-list">
    <h2>Студенти группи 15 які зробили</h2>
    <ul>
    {% for author in authors %}
      <li>
        <span class="author-name">{{ author.name }}</span>
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="form-container">

    <h1>Залишити коментар</h1>
    <form action="{% url 'contacts' %}" method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {% for field in form %}
          <div class="form-group">
              <label for="{{ field.id }}">{{ field.label }}</label>
              {{ field }}
          </div>
        {% endfor %}
        <div class="form-group">
          <input class="form-submit" type="submit" value="Відправити">
        </div>
        
    </form>

  </div>
    
{% endblock %}