{% extends 'base.html' %}
{% block content %}

<div class="hero-section">
    <h1>Бюро знахідок</h1>
    <p>ЛР 4</p>
    <a href="{% url 'contacts' %}">Детально про авторів</a>
    <a href="{% url 'postlist' %}">Переглянути знахідки</a>
    <a href="{% url 'register' %}">Регістрація</a>
</div>
<!-- /* .hero-section {
    
    color: #ffffff;
    padding: 50px 20px;
    text-align: center;
  }
  
  .hero-section h1 {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .hero-section p {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .hero-section a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .hero-section a:hover {
    background-color: #ffffff;
    
  }  */ -->
<!-- <div class="title-page">
    <h1>Приветствую!</h1>
    <p>Это моя титульная страница.</p>
    <div class="buttons">
      <button>Кнопка 1</button>
      <button>Кнопка 2</button>
      <button>Кнопка 3</button>
    </div>
  </div> -->

{% endblock %}